bcrypt==3.1.2
awscli==1.11.41
twython==3.4.0
django-debug-toolbar==1.6
onespacemedia-cms==1.12.4
pathlib==1.0.1
praw==4.3.0
django-braces==1.10.0
django-cors-headers==2.0.0
django-filter==1.0.1
django-rest-swagger==2.1.1
django-s3-storage==0.9.11
django==1.10.5
git+https://github.com/onespacemedia/server-management@feature/python-3
git+https://github.com/danielsamuels/pyrope.git
git+https://github.com/rocket-league-replays/patreon-python.git
django-suit==0.2.23
django-compressor==2.1
django-reversion==2.0.8
django-historylinks==1.1.0
django-watson==1.3.0
django-extensions==1.7.5
django-cachalot==1.4.1
opbeat==3.5.2
python-social-auth==0.3.3
Werkzeug==0.11.15
python-memcached==1.58
celery[redis]==4.0.2
django-celery==3.1.17
