bcrypt==2.0.0
awscli==1.10.6
twython==3.3.0
django-debug-toolbar==1.4
onespacemedia-cms==1.12.4
pathlib==1.0.1
praw==3.2.1
django-braces==1.8.1
django-cors-headers==2.0.1
django-filter==0.10.0
django-rest-swagger==0.3.3
django-s3-storage==0.9.8
django>=1.8,<1.9
git+https://github.com/onespacemedia/server-management@feature/python-3
git+https://github.com/danielsamuels/pyrope.git
git+https://github.com/rocket-league-replays/patreon-python.git
django-suit==0.2.24
django-compressor==2.0
django-reversion==1.8.7
django-historylinks==1.1.0
django-extensions==1.7.6
django-cachalot==1.2.1
opbeat==3.3
python-social-auth==0.2.14
Werkzeug==0.11.4
python-memcached==1.57
celery[redis]==3.1.23
django-celery==3.1.17
