{% extends "base.html" %}
{% load html news %}

{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>{{ pages.current }}</h3>
        {{ pages.current.content.content_primary|html }}

        <hr>

        <div class="small-7 small-centered columns">
            <ul class="news-article-list">
                {% for article in article_list %}
                    <li>
                      {% include "news/includes/article_list_item.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
