{% extends "base.html" %}
{% load pages %}


{% block title %}{% title "Page Not Found" %}{% endblock %}


{% block header %}Page Not Found{% endblock %}


{% block breadcrumbs %}
    {% breadcrumbs extended=1 %}
    Page Not Found
{% endblock %}


{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>Page not found</h3>

        <p>We're sorry, but the page you were looking for cannot be found.</p>

        <h5>Most likely causes</h5>

        <ul>
            <li>There might be a typing error in the address.</li>
            <li>If you clicked on a link, it may be out of date.</li>
        </ul>

        <h5>What you can try</h5>

        <ul>
            <li>Re-type the address.</li>
            <li>Go to our <a href="/">homepage</a> and look for the information you want.</li>
            <li>Contact us, so we can help you find what you are looking for.</li>
        </ul>
    </div>
</div>
{% endblock %}

