{% extends "base.html" %}
{% load cache pagination %}

{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>Your profile</h3>

        <p>Welcome to your {{ settings.SITE_NAME }} dashboard, here you can manage your replays, update your stats and more. You can view your public profile <a href="{% url 'users:profile' username=user.username %}">here</a>.</p>
    </div>
</div>

<div class="row">
    <div class="small-3 columns">
        <ul class="tabs vertical">
            {% url 'users:profile' as url %}
            <li class="tab-title {% if request.path == url %}active{% endif %}"><a href="{{ url }}">Replays</a></li>

            {% url 'users:replay_packs' as url %}
            <li class="tab-title {% if request.path == url %}active{% endif %}"><a href="{{ url }}">Replay packs</a></li>

            {% url 'users:user_ratings' as url %}
            <li class="tab-title {% if request.path == url %}active{% endif %}"><a href="{{ url }}">User ratings</a></li>

            {% url 'users:desktop_application' as url %}
            <li class="tab-title {% if request.path == url %}active{% endif %}"><a href="{{ url }}">Desktop application</a></li>

            {% url 'users:rank_tracker' as url %}
            <li class="tab-title {% if request.path == url %}active{% endif %}"><a href="{{ url }}">Rank tracker</a></li>

            {% url 'users:settings' as url %}
            <li class="tab-title {% if request.path == url %}active{% endif %}"><a href="{{ url }}">Settings</a></li>
        </ul>
    </div>

    <div class="medium-9 columns tabs-content">
        <div class="content active" id="replays-tab">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
