{% extends "base.html" %}
{% load cache pagination replays site %}

{% block content_primary %}
{% comment %}
    [x] Link to Steam profile
    [ ] Show all replays they have been involved in.
    [x] Allow profiles to work off Steam IDs?
    [x] "Appeared as" - all steam names used
    Overall stats based on replays?
        - [x] Winning goals scored.
        - [ ] Bring in the usual player stats from the unofficial API?
        - [ ] Time played, based on replays?
        - [ ] % of games which have replays uploaded
        - [x] Times carried / dominated - score far greater than team-mates / other team / score greater than everyone else
        - [x] Team saver goals - scored in the last ~minute to go to overtime
        - [x] Preferred match type.
    [ ] Allow users to rate each other (if they appeared in the same replay, thumbs up only).
{% endcomment %}

<div class="row">
    <div class="small-12 columns">
        <h3>
            <img src="{{ steam_info.avatar }}" alt="">

            {{ steam_info.personaname }}
            <a href="{{ steam_info.profileurl }}" class="right" target="_blank">
                <em class="icon-steam-squared"></em>
            </a>
        </h3>

        {% display_names steam_info as names %}
        {% if names %}
        <p>Has also played as: {{ names }}</p>
        {% endif %}
        <hr>
    </div>
</div>

{% cache 1800 player_stats steam_info.steamid %}
{% steam_stats steam_info.steamid as stats %}

<div class="row">
    <div class="medium-5 columns">
        <h4>Player stats</h4>

        <table width="100%">
            <tbody>
                <tr>
                    <td>Winning goals scored:</td>
                    <td>{{ stats.winning_goals }}</td>
                </tr>

                <tr>
                    <td>Goals scored within the last minute of the game:</td>
                    <td>{{ stats.last_minute_goals }}</td>
                </tr>

                <tr>
                    <td>Number of times scored to put the game into overtime:</td>
                    <td>{{ stats.overtime_triggering_goals }}</td>
                </tr>

                <tr>
                    <td>Number of times scored to put the game into overtime then scored the winning goal:</td>
                    <td>{{ stats.overtime_triggering_and_winning_goals }}</td>
                </tr>

                <tr>
                    <td>Number of times caused overtime and then won:</td>
                    <td>{{ stats.overtime_trigger_and_team_win }}</td>
                </tr>

                {% if stats.preferred_match_size %}
                <tr>
                    <td>Preferred match size:</td>
                    <td>{{ stats.preferred_match_size }}v{{ stats.preferred_match_size }}</td>
                </tr>
                {% endif %}

                {% if stats.preferred_role %}
                <tr>
                    <td>Preferred role:</td>
                    <td>{{ stats.preferred_role }}</td>
                </tr>
                {% endif %}

                {% comment %}
                <tr>
                    <td title="Higher score than everyone else on your team put together">Number of times you've carried your team:</td>
                    <td>{{ stats.carries }}</td>
                </tr>

                <tr>
                    <td title="Higher score than everyone else put together">Number of times you've dominated the game:</td>
                    <td>{{ stats.dominations }}</td>
                </tr>

                <tr>
                    <td>Biggest win:</td>
                    <td>{{ stats.biggest_win }}</td>
                </tr>
                {% endcomment %}

                {% if stats.highest_score %}
                <tr>
                    <td>Highest score in a game:</td>
                    <td>{{ stats.highest_score }}</td>
                </tr>
                {% endif %}

                {% if stats.most_goals %}
                <tr>
                    <td>Most goals in a game:</td>
                    <td>{{ stats.most_goals }}</td>
                </tr>
                {% endif %}

                {% if stats.most_shots %}
                <tr>
                    <td>Most shots in a game:</td>
                    <td>{{ stats.most_shots }}</td>
                </tr>
                {% endif %}

                {% if stats.most_assists %}
                <tr>
                    <td>Most assists in a game:</td>
                    <td>{{ stats.most_assists }}</td>
                </tr>
                {% endif %}

                {% if stats.most_saves %}
                <tr>
                    <td>Most saves in a game:</td>
                    <td>{{ stats.most_saves }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endcache %}

    {% cache 1800 player_ratings_and_graph steam_info.steamid %}
    <div class="medium-7 columns">
        {# Scoreboard + totals #}
        {% custom_scoreboard steam_info %}

        {# Rating graph #}
        {% include "users/includes/latest_ratings.html" with steam_id=steam_info.steamid %}
    </div>
    {% endcache %}
</div>

{% with object_list=appears_in|slice:':10' %}
    {% if object_list %}
        <div class="row">
            <div class="medium-12 columns">
                <h4>Appears in</h4>
                {% include "replays/includes/replay_table.html" with disable_ordering=True %}
            </div>
        </div>
    {% endif %}
{% endwith %}

{% with object_list=uploaded|slice:':10' %}
    {% if object_list %}
        <div class="row">
            <div class="medium-12 columns">
                <h4>Uploaded replays</h4>
                {% include "replays/includes/replay_table.html" with disable_ordering=True %}
            </div>
        </div>
    {% endif %}
{% endwith %}

{# endless #}
{% endblock %}
