{% extends "users/base.html" %}
{% load ratings %}

{% block content %}

{% if not user.profile.has_steam_connected %}
    <p>You need to connect your Steam account before you can track your ranks on this page.</p>
{% else %}

{% with ratings=user.profile.latest_ratings %}
<div class="row text-center">
    <div class="medium-3 columns">
        Solo

        <h4>
            {% if ratings.10 %}
                {{ ratings.10 }}
            {% else %}
                N/A
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Doubles

        <h4>
            {% if ratings.11 %}
                {{ ratings.11 }}
            {% else %}
                N/A
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Solo Standard

        <h4>
            {% if ratings.12 %}
                {{ ratings.12 }}
            {% else %}
                N/A
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Standard

        <h4>
            {% if ratings.13 %}
                {{ ratings.13 }}
            {% else %}
                N/A
            {% endif %}
        </h4>
    </div>
</div>
{% endwith %}

<div id="chartContainer" style="height: 600px; width: 100%;"></div>
{% endif %}
{% endblock %}

{% block additional_js %}
{% if user.profile.has_steam_connected %}
<script src="/static/js/vendor/jquery.canvasjs.min.js"></script>

{% get_ratings user.profile.steam_info.steamid as ratings %}
<script>
var chart = new CanvasJS.Chart("chartContainer",
{
    zoomEnabled: true,
    title:{
        text: "Historical ratings per playlist",
        fontSize: 14,
    },
    axisX: {
        title: "Date / Time",
        labelFontSize: 14,
        titleFontSize: 14,
        // labelFormatter: function(e) {
        //     return "Update ", e.value, "DD/MM/YYYY");
        // },
        valueFormatString: " "
    },
    axisY: {
        title: "Rating",
        labelFontSize: 14,
        titleFontSize: 14,
    },
    legend: {},
    data: [
        {
            name: "Duels",
            type: "line",
            // xValueType: "dateTime",
            dataPoints: [
                {% for rating in ratings reversed %}
                    { x: {{ forloop.counter }}, y: {{ rating.duels }}},
                {% endfor %}
            ]
        },
        {
            name: "Doubles",
            type: "line",
            // xValueType: "dateTime",
            dataPoints: [
                {% for rating in ratings reversed %}
                    { x: {{ forloop.counter }}, y: {{ rating.doubles }}},
                {% endfor %}
            ]
        },
        {
            name: "Solo Standard",
            type: "line",
            // xValueType: "dateTime",
            dataPoints: [
                {% for rating in ratings reversed %}
                    { x: {{ forloop.counter }}, y: {{ rating.solo_standard }}},
                {% endfor %}
            ]
        },
        {
            name: "Standard",
            type: "line",
            // xValueType: "dateTime",
            dataPoints: [
                {% for rating in ratings reversed %}
                    { x: {{ forloop.counter }}, y: {{ rating.standard }}},
                {% endfor %}
            ]
        }
    ],
    toolTip: {
        shared: true,
    }
});

chart.render();
</script>

<style>
#chartContainer {
    margin-top: 30px;
}
</style>
{% endif %}
{% endblock %}
