{% extends "users/base.html" %}

{% block content %}
<h3>User ratings</h3>

{% if not user.profile.has_steam_connected %}
    <p>You need to connect your Steam account before you can rate the players you have played with.</p>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Player name</th>
                <th># of times played with</th>
                <th>Last seen</th>
                <th>Most recent game</th>
            </tr>
        </thead>

        <tbody>
            {% for player in player_list %}
            <tr>
                <td>{{ player.player_name }}</td>
                <td>{{ player.num_played }}</td>
                <td>{{ player.last_seen }}</td>
                <td>
                    <a href="{{ player.last_game.get_absolute_url }}">{{ player.last_game }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
