{% extends "users/base.html" %}
{% load cache %}

{% block content %}

<table width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Map</th>
            <th>Date</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% with object_list=user.replay_set.all %}
        {% for replay in object_list %}
            {% cache 3600 'dashboard_replay_list_item' replay.pk %}
                <tr>
                    <td><a href="{% url 'replay:update' pk=replay.pk %}">{{ replay }}</a></td>
                    <td>{{ replay.map }}</td>
                    <td>{{ replay.timestamp|date:"jS F, h:iA" }}</td>
                    <td><a href="{{ replay.get_absolute_url }}">View</a></td>
                    <td><a href="{% url 'replay:update' pk=replay.pk %}">Edit</a></td>
                    <td><a href="{% url 'replay:delete' pk=replay.pk %}" class="alert">Delete</a></td>
                </tr>
            {% endcache %}
        {% empty %}
        <tr>
            <td colspan="6">You have not yet uploaded any replays.</td>
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>

<p><a href="{% url 'replay:upload' %}" class="button small">Upload a replay</a></p>
{% endblock %}
