{% extends "base.html" %}
{% load cache pagination %}

{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>Your profile</h3>

        <p>Welcome to your {{ settings.SITE_NAME }} dashboard, here you can manage your replays, update your stats and more. You can view your public profile <a href="{% url 'users:profile' username=user.username %}">here</a>.</p>
    </div>
</div>

<div class="row">
    <div class="small-3 columns">
        <ul class="tabs vertical" data-options="deep_linking:true" data-tab>
            <li class="tab-title active"><a href="#replays-tab">Replays</a></li>
            <li class="tab-title"><a href="#replay-packs-tab">Replay packs</a></li>
            <li class="tab-title"><a href="#desktop-application-tab">Desktop application</a></li>
            {# <li class="tab-title"><a href="#rank-tracker-tab">Rank tracker</a></li> #}
            <li class="tab-title"><a href="#settings-tab">Settings</a></li>
        </ul>
    </div>

    <div class="medium-9 columns tabs-content">
        <div class="content active" id="replays-tab">
            {% include "users/sections/replays.html" %}
        </div>

        <div class="content" id="replay-packs-tab">
            {% include "users/sections/replay_packs.html" %}
        </div>

        <div class="content" id="desktop-application-tab">
            {% include "users/sections/desktop_application.html" %}
        </div>

        {% comment %}
        <div class="content" id="rank-tracker-tab">
            {% include "users/sections/rank_tracker.html" %}
        </div>
        {% endcomment %}

        <div class="content" id="settings-tab">
            {% include "users/sections/settings.html" %}
        </div>
    </div>
</div>
{% endblock %}
