{% extends "users/base.html" %}
{% load ratings %}

{% block content %}

{% if not user.profile.has_steam_connected %}
    <p>You need to connect your Steam account before you can track your ranks on this page.</p>
{% else %}

{% with ratings=user.profile.latest_ratings %}
<div class="row text-center">
    <div class="medium-3 columns">
        Solo

        <h4>
            {% if ratings.10 %}
                {{ ratings.10 }}
            {% else %}
                N/A
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Doubles

        <h4>
            {% if ratings.11 %}
                {{ ratings.11 }}
            {% else %}
                N/A
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Solo Standard

        <h4>
            {% if ratings.12 %}
                {{ ratings.12 }}
            {% else %}
                N/A
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Standard

        <h4>
            {% if ratings.13 %}
                {{ ratings.13 }}
            {% else %}
                N/A
            {% endif %}
        </h4>
    </div>
</div>
{% endwith %}

<div id="chartContainer" style="height: 600px; width: 100%;"></div>

{% get_ratings user.profile.steam_info.steamid as ratings %}
<script>
var duels = [
    {% for rating in ratings reversed %}
        { x: {{ forloop.counter }}, y: {{ rating.duels }}},
    {% endfor %}
],
doubles = [
    {% for rating in ratings reversed %}
        { x: {{ forloop.counter }}, y: {{ rating.doubles }}},
    {% endfor %}
],
solo_standard = [
    {% for rating in ratings reversed %}
        { x: {{ forloop.counter }}, y: {{ rating.solo_standard }}},
    {% endfor %}
],
standard = [
    {% for rating in ratings reversed %}
        { x: {{ forloop.counter }}, y: {{ rating.standard }}},
    {% endfor %}
];
</script>
{% endif %}
{% endblock %}
