{% load cache %}

<table width="100%">
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>#</th>
            <th>Map</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% with object_list=user.replay_set.all %}
        {% for replay in object_list %}
            {% cache 3600 'dashboard_replay_list_item' replay.pk %}
                <tr data-href="{% url 'replay:update' pk=replay.pk %}">
                    <td><input type="checkbox"></td>
                    <td><a href="{% url 'replay:update' pk=replay.pk %}">{{ replay }}</a></td>
                    <td>{{ replay.map }}</td>
                    <td>{{ replay.timestamp|date:"jS F, h:iA" }}</td>
                </tr>
            {% endcache %}
        {% empty %}
        <tr>
            <td colspan="4">You have not yet uploaded any replays.</td>
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>

<select name="" id="" style="width:50%">
    <option value="">Choose an action</option>
    <option value="">Create replay pack</option>
    <option value="">Delete selected replays</option>
</select>

<input type="submit" class="button tiny" value="Go">

{# {% pagination page_obj %} #}
