{% load cache %}

<table width="100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Replays</th>
            <th>Last updated</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% with object_list=user.replaypack_set.all %}
        {% for replaypack in object_list %}
            {% cache 3600 'replaypack_list_item' replaypack.pk replaypack.last_updated %}
                <tr>
                    <td>{{ replaypack.title }}</td>
                    <td>{{ replaypack.replays.count }}</td>
                    <td>{{ replaypack.last_updated|date:"jS F, h:iA" }}</td>
                    <td><a href="{{ replaypack.get_absolute_url }}">View</a></td>
                    <td><a href="{% url 'replaypack:update' pk=replaypack.pk %}">Edit</a></td>
                    <td><a href="{% url 'replaypack:delete' pk=replaypack.pk %}" class="alert">Delete</a></td>
                </tr>
            {% endcache %}
        {% empty %}
        <tr>
            <td colspan="6">You have not yet created any replay packs. <a href="{% url 'replaypack:create' %}">Make one now.</a></td>
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>

{# {% pagination page_obj %} #}
