{% extends "base.html" %}
{% load humanize %}

{% block content_primary %}
<div class="row">
    <div class="medium-6 columns">
        <h3>All replays</h3>
        <p>Below you can find all replays which have been uploaded to {{ settings.SITE_NAME }}.</p>
    </div>

    {% if patreon == 0 %}
    <div class="medium-6 columns text-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- List page -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1408820986188374"
             data-ad-slot="1675124088"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="small-12 columns panel">
        <form action="" method="get">
            {% for field in filter.form %}
                {% if field.name != 'order' and field.name != 'user' %}
                    <div class="medium-2 columns">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}

            {% if user.is_authenticated %}
            <div class="medium-2 columns">
                <label for="id_user">Show only your replays?</label>
                <input {% if user.pk|stringformat:'s' == request.GET.user %}checked="checked"{% endif %} id="id_user" name="user" type="checkbox" value="{{ user.pk }}">
            </div>
            {% endif %}

            <div class="medium-2 columns">
                <label>&nbsp;</label>
                <input type="submit" style="margin-top: 4px;" value="Search" class="button tiny expand">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns text-center">
        <p>{{ page_obj.paginator.count|intcomma }} replay{{ page_obj.paginator.count|pluralize }} found.</p>
    </div>
    <div class="medium-12 columns">
        {% include "replays/includes/replay_table.html" %}
    </div>
</div>

<style>
th.orderable {
    cursor: pointer;
}
</style>

<script>
$(function() {
    $('tr[data-href]').on('click', function(e) {
        window.location = $('a[href]:first-of-type', this).attr('href');
        return false;
    });

    $('th.orderable').on('click', function() {
        {% if not request.GET.order %}
        if (window.location.search.length > 0) {
            window.location = window.location.href + '&{{ filter.order_by_field }}=-' + $(this).data('order-key');
        } else {
            window.location = window.location.href + '?{{ filter.order_by_field }}=-' + $(this).data('order-key');
        }
        {% else %}
        if ('-' + $(this).data('order-key') === '{{ request.GET.order }}') {
            // We're currently ordered by this key descending.
            new_search = window.location.search.replace('{{ filter.order_by_field }}={{ request.GET.order }}', '{{ filter.order_by_field }}=' + $(this).data('order-key'))

        } else {
            // We're currently ordered by a different key entirely.
            new_search = window.location.search.replace('{{ filter.order_by_field }}={{ request.GET.order }}', '{{ filter.order_by_field }}=-' + $(this).data('order-key'))
        }

        window.location = window.location.pathname + new_search;
        {% endif %}
    });
})
</script>
{% endblock content_primary %}
