{% extends "base.html" %}

{% block content_primary %}
<div class="row">
    <div class="medium-12 columns">
        <h3>Upload replay</h3>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form }}
            <p>You can find your replay files in <code>Documents/My Games/Rocket League/TAGame/Demos</code>, you can use the created date to figure out which is the one you want. It might take a couple of seconds to process the file, please don't click upload more than once!</p>

            <p>
                <input class="button tiny" type="submit" value="Upload">
            </p>
        </form>
    </div>
</div>
{% endblock content_primary %}
