{% extends "base.html" %}

{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>All replays</h3>
        <p>Below you can find all replays which have been uploaded to {{ settings.SITE_NAME }}.</p>
    </div>
</div>

<div class="row">
    <div class="small-12 columns panel">
        <form action="" method="get">
            {% for field in filter.form %}
                {% if field.name != 'order' %}
                    <div class="medium-3 columns">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="medium-12 columns">
                <label>&nbsp;</label>
                <input type="submit" class="button tiny">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns text-center">
        <p>{{ page_obj.paginator.count }} replays found.</p>
    </div>
    <div class="medium-12 columns">
        {% include "replays/includes/replay_table.html" %}
    </div>
</div>

<style>
th.orderable {
    cursor: pointer;
}
</style>

<script>
$(function() {
    $('tr[data-href]').on('click', function(e) {
        window.location = $('a[href]:first-of-type', this).attr('href');
        return false;
    });

    $('th.orderable').on('click', function() {
        {% if not filter.form.order.value %}
        if (window.location.search.length > 0) {
            window.location = window.location.href + '&{{ filter.order_by_field }}=-' + $(this).data('order-key');
        } else {
            window.location = window.location.href + '?{{ filter.order_by_field }}=-' + $(this).data('order-key');
        }
        {% else %}
        if ('-' + $(this).data('order-key') === '{{ filter.form.order.value }}') {
            // We're currently ordered by this key descending.
            new_search = window.location.search.replace('{{ filter.order_by_field }}={{ filter.form.order.value }}', '{{ filter.order_by_field }}=' + $(this).data('order-key'))

        } else {
            // We're currently ordered by a different key entirely.
            new_search = window.location.search.replace('{{ filter.order_by_field }}={{ filter.form.order.value }}', '{{ filter.order_by_field }}=-' + $(this).data('order-key'))
        }

        window.location = window.location.pathname + new_search;
        {% endif %}
    });
})
</script>
{% endblock content_primary %}
