{% extends "base.html" %}
{% load cache pagination %}

{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>All replay packs</h3>
        <p>Below you can find all replays which have been created by members of {{ settings.SITE_NAME }}.</p>
    </div>
</div>

{% if filter %}
<div class="row">
    <div class="small-12 columns panel">
        <form action="" method="get">
            {% for field in filter.form %}
                <div class="medium-3 columns">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}

            <div class="medium-3 columns left">
                <label>&nbsp;</label>
                <input type="submit" class="button tiny" style="margin-top: 4px;">
            </div>
        </form>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="medium-12 columns text-center">
        <p>{{ page_obj.paginator.count }} replay packs found.</p>
    </div>
    <div class="medium-12 columns">
        <table width="100%" class="expand">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Maps</th>
                    <th>Goals</th>
                    <th>Players</th>
                    <th>Total duration</th>
                    <th>Last updated</th>
                </tr>
            </thead>
            <tbody>
                {% for replaypack in object_list %}
                    {% cache 3600 'replaypack_list_item' replaypack.pk %}
                        <tr data-href="{{ replaypack.get_absolute_url }}">
                            <td><a href="{{ replaypack.get_absolute_url }}">{{ replaypack }}</a></td>
                            <td>{{ replaypack.maps }}</td>
                            <td>{{ replaypack.goals }}</td>
                            <td>{{ replaypack.players|length }}</td>
                            <td>{{ replaypack.total_duration }}</td>
                            <td>{{ replaypack.last_updated|date:"jS F, h:iA" }}</td>
                        </tr>
                    {% endcache %}
                {% empty %}
                <tr>
                    <td colspan="7">There are currently no replay packs to display. Try adjusting the search options above.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% pagination page_obj %}
    </div>
</div>


<script>
$(function() {
    $('tr[data-href]').on('click', function(e) {
        window.location = $('a[href]:first-of-type', this).attr('href');
        return false;
    });
})
</script>
{% endblock content_primary %}
