{% extends "base.html" %}
{% load cache humanize ratings replays site static %}

{% block object_title %}{{ block.super }} - Boost Analysis{% endblock %}

{% block content_primary %}
    {% include "replays/includes/tabs.html" %}

    {% if replay.title %}
    <div class="row">
        <div class="medium-12 columns">
            <h2>{{ replay.title }}</h2>
            <hr>
        </div>
    </div>
    {% endif %}

    {# {% cache 3600 replay_hitmaps replay.pk %} #}
    <div class="row">
        <div class="small-12 columns">
            <div id="hmp-Outer" style="width: 100%; height: 802px;"></div>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
    var data = [
      {
        x: [-501, -679],
        y: [4484, 5155],
        z: [104, 100],
        type: 'scatter3d'
      },
      {
        x: [-1462, -719],
        y: [-4078, -5192],
        z: [144, 501],
        type: 'scatter3d'
      },
      {
        x: [-1591, -92],
        y: [-3928, -5172],
        z: [810, 252],
        type: 'scatter3d'
      },
      {
        x: [640, -450],
        y: [-4312, -5185],
        z: [580, 219],
        type: 'scatter3d'
      },
      {
        x: [1069, 761],
        y: [-3918, -5122],
        z: [18, 96],
        type: 'scatter3d'
      },
      {
        x: [1049, 546],
        y: [-4631, -5215],
        z: [658, 311],
        type: 'scatter3d'
      },
      {
        x: [-2346, 775],
        y: [356, -5189],
        z: [742, 135],
        type: 'scatter3d'
      },
      {
        x: [-1155, -41],
        y: [-3078, -5205],
        z: [469, 383],
        type: 'scatter3d'
      },
      {
        x: [-475, -275],
        y: [5000, 5215],
        z: [173, 300],
        type: 'scatter3d'
      },
      {
        x: [19, -546],
        y: [261, -5181],
        z: [74, 93],
        type: 'scatter3d'
      },
      {
        x: [3, 789],
        y: [394, -5165],
        z: [112, 421],
        type: 'scatter3d'
      },
    ];

    var layout = {
      scene: {
        xaxis: {
          nticks: 10,
          range: [-4120, 4120]
        },
        yaxis: {
          nticks: 10,
          range: [-5220, 5220]
        },
        zaxis: {
          nticks: 10,
          range: [0, 2060]
        },
        autosize: true,
        aspectratio: {
          x: 8240  / 10440,
          y: 10440 / 10440,
          z: 2006  / 10440
        },
        camera: {
          center: {
            x: 0,
            y: 0,
            z: 0
          },
          eye: {
            x: 0,
            y: 0,
            z: 1
          },
          up: {
            x: 0,
            y: 0,
            z: 1
          }
        },
        width: 1248,
        height: 702,
        aspectmode: 'manual',
      }
    };
    Plotly.newPlot('hmp-Outer', data, layout, {
      displayModeBar: false
    });
    </script>
    {# {% endcache %} #}

    <div class="row">
        <div class="medium-12 columns">
            <div id="disqus_thread"></div>

            <script>
                var disqus_config = function () {
                    this.page.url = 'http{% if request.is_secure %}s{% endif %}://{{ settings.SITE_DOMAIN }}{{ request.path }}';
                    this.page.identifier = 'replay_{{ replay.pk }}';
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//rlr.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
{% endblock %}
