{% extends "base.html" %}
{% load cache pagination %}

{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>All replays</h3>
    </div>

    <form action="" method="get">
        <div class="medium-2 columns">
            {{ filter.form.player_name.label }}
            {{ filter.form.player_name }}
        </div>
        <div class="medium-2 columns">
            {{ filter.form.map.label }}
            {{ filter.form.map }}
        </div>
        <div class="medium-2 columns">
            {{ filter.form.server_name.label }}
            {{ filter.form.server_name }}
        </div>
        <div class="medium-2 columns">
            {{ filter.form.team_sizes.label }}
            {{ filter.form.team_sizes }}
        </div>
        <div class="medium-2 columns">
            {{ filter.form.match_type.label }}
            {{ filter.form.match_type }}
        </div>
        <div class="medium-2 columns">
            <label>&nbsp;</label>
            <input type="submit" class="button tiny">
        </div>
    </form>
</div>
<div class="row">
    <div class="medium-12 columns">
        <table width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Map</th>
                    <th>Type</th>
                    <th>Score</th>
                    <th>Length</th>
                    <th>Region</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for replay in object_list %}
                    {% cache 3600 'replay_list_item' replay.pk %}
                        <tr data-href="{{ replay.get_absolute_url }}">
                            <td><a href="{{ replay.get_absolute_url }}">{{ replay.pk }}</a></td>
                            <td>{{ replay.map }}</td>
                            <td>{{ replay.team_sizes }}v{{ replay.team_sizes }}</td>
                            <td><span class="primary">{{ replay.team_0_score }}</span> - <span class="secondary">{{ replay.team_1_score }}</span></td>
                            <td>{{ replay.match_length }}</td>
                            <td>{{ replay.region }}</td>
                            <td>{{ replay.timestamp|date:"jS F, h:iA" }}</td>
                        </tr>
                    {% endcache %}
                {% empty %}
                <tr>
                    <td colspan="7">There are currently no replays to display. Try adjusting the search options above.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% pagination page_obj %}
    </div>
</div>


<script>
$(function() {
    $('tr[data-href]').on('click', function(e) {
        window.location = $('a[href]:first-of-type', this).attr('href');
        return false;
    });
})
</script>
{% endblock content_primary %}
