{% extends "base.html" %}
{% load cache humanize ratings replays site static %}

{% block object_title %}{{ block.super }} - Boost Analysis{% endblock %}

{% block content_primary %}
    {% include "replays/includes/tabs.html" %}

    {% if replay.title %}
    <div class="row">
        <div class="medium-12 columns">
            <h2>{{ replay.title }}</h2>
            <hr>
        </div>
    </div>
    {% endif %}

    {# {% cache 3600 replay_hitmaps replay.pk %} #}
    <div class="row">
        <div class="small-4 columns">
            <img src="{% static 'img/arena_outline.png' %}" alt="">
            <div id="hmp-Outer-xy">
            </div>
        </div>

        <div class="small-8 columns">
            <div id="plotly"></div>
        </div>
    </div>
    {# {% endcache %} #}

    <style>
    #hmp-Outer-xy {
      position: absolute;
      top: 8px;
      left: 26px;
      right: 29px;
      bottom: 8px;
    }
    </style>

    <div class="row">
        <div class="medium-12 columns">
            <div id="disqus_thread"></div>

            <script>
                var disqus_config = function () {
                    this.page.url = 'http{% if request.is_secure %}s{% endif %}://{{ settings.SITE_DOMAIN }}{{ request.path }}';
                    this.page.identifier = 'replay_{{ replay.pk }}';
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//rlr.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
var data = [
  {
    x: [-501, -679],
    y: [4484, 5155],
    z: [104, 100]
  },
  {
    x: [-1462, -719],
    y: [-4078, -5192],
    z: [144, 501]
  },
  {
    x: [-1591, -92],
    y: [-3928, -5172],
    z: [810, 252]
  },
  {
    x: [640, -450],
    y: [-4312, -5185],
    z: [580, 219]
  },
  {
    x: [1069, 761],
    y: [-3918, -5122],
    z: [18, 96]
  },
  {
    x: [1049, 546],
    y: [-4631, -5215],
    z: [658, 311]
  },
  {
    x: [-2346, 775],
    y: [356, -5189],
    z: [742, 135]
  },
  {
    x: [-1155, -41],
    y: [-3078, -5205],
    z: [469, 383]
  },
  {
    x: [-475, -275],
    y: [5000, 5215],
    z: [173, 300]
  },
  {
    x: [19, -546],
    y: [261, -5181],
    z: [74, 93]
  },
  {
    x: [3, 789],
    y: [394, -5165],
    z: [112, 421]
  },
];
</script>

<script>
function getBaseSettings() {
    return {
        zoomEnabled: true,
        title:{
            fontSize: 14,
        },
        axisX: {
            labelFontSize: 14,
            titleFontSize: 14,
        },
        axisY: {
            labelFontSize: 14,
            titleFontSize: 14,
        },
        legend: {
            cursor: "pointer",
            itemclick: function (e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }

                e.chart.render();
            },
            itemTextFormatter: function(e) {
                return parseHtmlEntities(e.dataSeries.name)
            }
        },
        toolTip: {
            shared: true,
        }
    }
}

const xy = new CanvasJS.Chart("hmp-Outer-xy", getBaseSettings())
xy.options.data = []

xy.options.backgroundColor = ''
// xy.options.width = '100%'
xy.options.height = 280
xy.options.toolTip = {
  content: '{name}'
}

xy.options.axisX.title = null
xy.options.axisX.minimum = -5220
xy.options.axisX.maximum = 5220
xy.options.axisX.margin = 0
xy.options.axisX.lineThickness = 0
xy.options.axisX.tickThickness = 0
xy.options.axisX.gridThickness = 0
xy.options.axisX.labelFormatter = function (e) { return '' }

xy.options.axisY.title = null
xy.options.axisY.minimum = -4120
xy.options.axisY.maximum = 4120
xy.options.axisY.margin = 0
xy.options.axisY.lineThickness = 0
xy.options.axisY.tickThickness = 0
xy.options.axisY.gridThickness = 0
xy.options.axisY.labelFormatter = function (e) { return '' }


data.forEach(function (item, index) {
  xy.options.data.push({
    type: 'line',
    name: `Goal ${index + 1}`,
    dataPoints: [
      { y: item.x[0], x: item.y[0] },
      { y: item.x[1], x: item.y[1] },
    ]
  })
});
xy.render();

/*
const yz = new CanvasJS.Chart("hmp-Outer-yz", getBaseSettings())
yz.options.data = []

yz.options.title.text = "Y vs Z"
yz.options.axisX.title = "Y Value"
yz.options.axisX.minimum = -5220
yz.options.axisX.maximum = 5220

yz.options.axisY.title = "Z Value"
yz.options.axisY.minimum = 0
yz.options.axisY.maximum = 2060


data.forEach(function (item) {
  yz.options.data.push({
    type: 'line',
    dataPoints: [
      { x: item.y[0], y: item.z[0] },
      { x: item.y[1], y: item.z[1] },
    ]
  })
});
yz.render();
*/
</script>

{# Plot.ly stuff #}
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
_3d_data = []
data.forEach(function (item) {
  item['type'] = 'scatter3d'
  item['y'][0] *= -1
  item['y'][1] *= -1
  _3d_data.push(item)
})

var layout = {
  scene: {
    xaxis: {
      nticks: 10,
      range: [-4120, 4120]
    },
    yaxis: {
      nticks: 10,
      range: [-5220, 5220]
    },
    zaxis: {
      nticks: 10,
      range: [0, 2060]
    },
    autosize: true,
    aspectratio: {
      x: 8240  / 10440,
      y: 10440 / 10440,
      z: 2006  / 10440
    },
    camera: {
      center: {
        x: 0,
        y: 0,
        z: 0
      },
      up: {
        x: 0,
        y: 0,
        z: 1
      }
    },
    width: 1248,
    height: 702,
    aspectmode: 'manual',
  }
};
Plotly.newPlot('plotly', _3d_data, layout);
</script>
{% endblock %}
