{% extends "base.html" %}
{% load cache compress replays site static %}

{% block content_primary %}
    {% include "replays/includes/tabs.html" %}

    {% if replay.title %}
    <div class="row">
        <div class="medium-12 columns">
            <h2>{{ replay.title }}</h2>
            <hr>
        </div>
    </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
        <div class="alert-box {% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}


    {% comment %}
        The conditions for showing playback are as follows:
            * The current user is a patron.
            * The uploader is a patron.
            * One of the players is a patron.

        (Patrons must be at the $3+ level)
    {% endcomment %}

    {% replay_playback_eligibility as eligible %}
    {% user_in_replay as user_in_replay %}

    {% if eligible %}
        {% if replay.location_json_file %}
            <div class="sim-Outer">
                <div class="sim-Timer">
                    <div class="sim-Timer_Score sim-Timer_Score-0">0</div>
                    <div class="sim-Timer_Value">0:00</div>
                    <div class="sim-Timer_Score sim-Timer_Score-1">0</div>
                    <input id="fpsSlider" type="range" value="30" min="10" max="120" style="position: relative; top: -20px;">
                </div>

                <div class="sim-Timeline_Outer">
                    <div class="sim-Timeline_Controls"></div>
                    <div class="sim-Timeline">
                        <div class="sim-Timeline_Inner"></div>
                        <div class="sim-Timeline_Cursor"></div>
                        {% for goal in object.goal_set.all %}
                            <div class="sim-Timeline_Marker sim-Timeline_Marker-{{ goal.player.team }}" data-frame="{{ goal.frame }}" style="left: {% widthratio goal.frame replay.num_frames 100 %}%"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="sim-Boost sim-Boost-team0"></div>
                <div class="sim-Boost sim-Boost-team1"></div>
            </div>

            {% compress js %}
            <script>
            var resource__arena_fieldlines = "{% static 'img/2d-rendering/arena_fieldlines.png' %}";
            var resource__arena_overlay = "{% static 'img/2d-rendering/arena_overlay.png' %}";
            var resource__arena_boost = "{% static 'img/2d-rendering/arena_boost.png' %}";
            var resource__Car_Body_0 = "{% static 'img/2d-rendering/Car_Body_0.png' %}";
            var resource__Car_Body_1 = "{% static 'img/2d-rendering/Car_Body_1.png' %}";
            var resource__ball = "{% static 'img/2d-rendering/ball.png' %}";
            </script>

            <script src="{% static 'build/js/shared.js' %}"></script>
            <script src="{% static 'build/js/2d-rendering.js' %}"></script>

            <script>
            ReplayPlayback.loadGameData("{{ replay.location_json_file.url }}");
            </script>
            {% endcompress %}
        {% else %}
        <div class="row">
            <div class="medium-8 medium-centered columns mb-50">
                <h4>Awaiting processing</h4>
                <p>This replay is eligible for playback, we just haven't got round to processing it yet. Please hang on and we'll have it done as soon as possible. Thank you for your patience.</p>
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="row">
        <div class="medium-8 medium-centered columns mb-50">
            <h4>Playback is not currently available for this replay</h4>
            <p>{% if not user_in_replay %}Unfortunately this replay is not currently eligible for replay playback as none of the players in the game or the replay uploader are currently supporting {{ settings.SITE_NAME }} on Patreon.  Patreon{% else %}Playback is only available to people who support {{ settings.SITE_NAME }} on Patreon.  This{% endif %} allows us to cover the additional costs generated by processing and storing the data required. If you would like playback on your replays, please consider <a href="https://www.patreon.com/danielsamuels?ty=h" target="_blank">becoming a Patron</a>. This feature is available from as little as $3 per month.</p>

            {% if user_in_replay %}
                <h5>7 day trial</h5>
                {% if user.is_authenticated and not user.profile.has_had_trial %}
                {# TODO: Only show this if the user becoming a patron would actually affect this replay. Think: was this user involved at all? #}
                <p>Not sure whether you want to become a patron just yet?  You can try out the features and benefits with a 7 day trial. <a href="{% url 'site:start-trial' pk=object.pk %}">Click here to start your trial.</a> (Limited to one trial per account)</p>
                {% elif user.is_authenticated and user.profile.has_had_trial %}
                <p>Unfortunately you have already experienced a free trial, so you are no longer eligible to experience these benefits for free.</p>
                {% elif not user.is_authenticated %}
                <p>You are not currently logged in, so we're unable to check your eligibility for a free trial. Please log in using the button at the top of the page and then return to this page.</p>
                {% endif %}
            {% endif %}

            <h5>Tournament owners</h5>
            <p>If you're running a tournament which is expected to garner a reasonable amount of exposure please <a href="mailto:tournaments@{{ settings.SITE_DOMAIN }}">get in touch</a> and we can provide access to this feature on a temporary basis. <strong>Note:</strong> the more notice you provide, the more likely we are to grant access.</p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="medium-12 columns">
            <div id="disqus_thread"></div>

            <script>
                var disqus_config = function () {
                    this.page.url = 'http{% if request.is_secure %}s{% endif %}://{{ settings.SITE_DOMAIN }}{% url 'replay:detail' pk=object.pk %}';
                    this.page.identifier = 'replay_{{ replay.pk }}';
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//rlr.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}
