{% load ratings site static %}

{% latest_ratings as ratings %}

<div class="flex-row text-center">
    {% for rating in ratings %}
    <div class="flex-column">
        <strong>{% playlist_name rating.playlist %}</strong>

        <h4>
            {% with rating.tier|string as rating_string %}
                {% with 'img/tiers/orig/'|add:rating_string|add:'.png' as url %}
                    <img src="{% static url %}" alt="{% tier_name rating.tier %}" title="{% tier_name rating.tier %}">
                {% endwith %}
            {% endwith %}

            {% if rating.division != -1 %}
                <p>{% division_name rating.division %}</p>
            {% endif %}
        </h4>
    </div>
    {% endfor %}
</div>
