{% load ratings %}

{% latest_ratings as ratings %}
<div class="row text-center">
    <div class="medium-3 columns">
        Solo

        <h4>
            {% if ratings.10 %}
                {% league_name ratings.10 %}
            {% else %}
                {% league_name 0 %}
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Doubles

        <h4>
            {% if ratings.11 %}
                {% league_name ratings.11 %}
            {% else %}
                {% league_name 0 %}
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Solo Standard

        <h4>
            {% if ratings.12 %}
                {% league_name ratings.12 %}
            {% else %}
                {% league_name 0 %}
            {% endif %}
        </h4>
    </div>

    <div class="medium-3 columns">
        Standard

        <h4>
            {% if ratings.13 %}
                {% league_name ratings.13 %}
            {% else %}
                {% league_name 0 %}
            {% endif %}
        </h4>
    </div>
</div>
