{% load ratings %}

{% get_ratings steam_id as ratings %}

{% if ratings %}
<div id="chartContainer" style="height: 350px; width: 100%;"></div>

<script>
var duels = [
    {% for rating in ratings reversed %}
        { x: {{ forloop.counter }}, y: {{ rating.duels }}},
    {% endfor %}
],
doubles = [
    {% for rating in ratings reversed %}
        { x: {{ forloop.counter }}, y: {{ rating.doubles }}},
    {% endfor %}
],
solo_standard = [
    {% for rating in ratings reversed %}
        { x: {{ forloop.counter }}, y: {{ rating.solo_standard }}},
    {% endfor %}
],
standard = [
    {% for rating in ratings reversed %}
        { x: {{ forloop.counter }}, y: {{ rating.standard }}},
    {% endfor %}
];
</script>
{% endif %}
