{% load pagination %}

<table width="100%" class="expand">
    <thead>
        <tr>
            <th class="limited-width">#</th>
            <th>Playlist</th>
            <th>Score</th>
            <th>Type</th>
            <th>Map</th>
            <th class="orderable" data-order-key="timestamp">
                Date
                {% if not disable_ordering %}
                    {% if filter.form.order.value == '-timestamp' %}
                        <em class="icon-down-dir"></em>
                    {% elif filter.form.order.value == 'timestamp' %}
                        <em class="icon-up-dir"></em>
                    {% else %}
                        <em class="icon-sort"></em>
                    {% endif %}
                {% endif %}
            </th>
            <th class="orderable" data-order-key="average_rating">
                Average Rating
                {% if not disable_ordering %}
                    {% if filter.form.order.value == '-average_rating' or not filter.form.order.value %}
                        <em class="icon-down-dir"></em>
                    {% elif filter.form.order.value == 'average_rating' %}
                        <em class="icon-up-dir"></em>
                    {% else %}
                        <em class="icon-sort"></em>
                    {% endif %}
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for replay in object_list %}
            {% include "replays/includes/replay_row.html" %}
        {% empty %}
        <tr>
            <td colspan="8">There are currently no replays to display. Try adjusting the search options above.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if page_obj %}
    {% pagination page_obj %}
{% endif %}
