{% load cache ratings %}

{% cache 3600 'replay_list_item' replay.pk %}
    <tr data-href="{{ replay.get_absolute_url }}">
        <td><a href="{{ replay.get_absolute_url }}">{{ replay }}</a></td>
        <td>{{ replay.season }}</td>
        <td><span class="primary">{{ replay.team_0_score }}</span> - <span class="secondary">{{ replay.team_1_score }}</span></td>
        <td>{{ replay.team_sizes }}v{{ replay.team_sizes }}</td>
        <td>{{ replay.map }}</td>
        <td>{{ replay.timestamp|date:"jS F, h:iA" }}</td>
        <td>
            {% if replay.average_rating|league_image %}
                <img src="/static/img/tiers/{{ replay.average_rating }}.png" alt="{% league_name replay.average_rating %}" title="{% league_name replay.average_rating %}" style="width: 17px; height: 17px; margin: -3px 5px 0 0">
            {% endif %}
            {% league_name replay.average_rating %}
        </td>
    </tr>
{% endcache %}
