{% load cache ratings site static %}

{% cache 3600 'replay_list_item' replay.pk %}
    <tr data-href="{{ replay.get_absolute_url }}">
        <td>
            <a href="{{ replay.get_absolute_url }}">{{ replay }}</a>
            {% if replay.show_analysis %}
            <a href="{% url 'replay:analysis' pk=replay.pk %}" title="This replay has additional analysis because the uploader or a player within the match is supporting {{ settings.SITE_NAME }} on Patreon.">
                <em class="icon-crown-plus"></em>
            </a>
            {% endif %}
        </td>
        <td>{{ replay.season }}</td>
        <td><span class="primary">{{ replay.team_0_score }}</span> - <span class="secondary">{{ replay.team_1_score }}</span></td>
        <td>{{ replay.team_sizes }}v{{ replay.team_sizes }}</td>
        <td>{{ replay.map }}</td>
        <td>{{ replay.timestamp|date:"jS F, h:iA" }}</td>
        <td>
            {% if replay.average_rating|league_image %}
                {% with replay.average_rating|string as rating_string %}
                    {% with 'img/tiers/icons/'|add:rating_string|add:'.png' as url %}
                        <img src="{% static url %}" alt="{% league_name replay.average_rating %}" title="{% league_name replay.average_rating %}">
                    {% endwith %}
                {% endwith %}
            {% endif %}
            {% league_name replay.average_rating %}
        </td>
    </tr>
{% endcache %}
