{% load humanize ratings static site %}

{% if team == 0 or team == 1 %}
    <h3 class="{% if team == 0 %}primary{% elif team == 1 %}secondary{% endif %}">{{ team_str }} team</h3>
{% else %}
    <p>&nbsp;</p>
{% endif %}

<table width="100%">
    <tr>
        {% if players.0.player_name %}
        <th>{# Player name #}</th>
        {% endif %}
        {# <th>Platform</th> #}
        <th>Score</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Saves</th>
        <th>Shots</th>
        <th colspan="2"></th>
    </tr>
    {% for player in players %}
    {% if player.player_name != 'Unknown player (own goal?)' %}
    <tr>
        {% if players.0.player_name %}
        <td>
            <a href="{{ player.get_absolute_url }}">
            {% with player.get_rating_data as rating_data %}
                {% if rating_data %}
                    <img src="{{ rating_data.image }}" alt="{{ rating_data.tier_name }}" title="{{ rating_data.tier_name }}">
                {% endif %}
            {% endwith %}

            {# Is this player a patron of the site? #}
            {% include 'site/patreon_crown.html' %}
            {{ player.player_name }}

            {% if player.platform == 'OnlinePlatform_Steam' or player.platform == '1' %}
            </a>
            {% endif %}
        </td>
        {% endif %}
        <td>{{ player.score|intcomma }}</td>
        <td>{{ player.goals|intcomma }}</td>
        <td>{{ player.assists|intcomma }}</td>
        <td>{{ player.saves|intcomma }}</td>
        <td>{{ player.shots|intcomma }}</td>
        <td>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="
                {% if player.camera_settings %}
                {% if player.camera_settings.fov %}Field of View: {{ player.camera_settings.fov|floatformat:0 }}<br>{% endif %}
                {% if player.camera_settings.height %}Height: {{ player.camera_settings.height|floatformat:0 }}<br>{% endif %}
                {% if player.camera_settings.pitch %}Angle: {{ player.camera_settings.pitch|floatformat:0 }}<br>{% endif %}
                {% if player.camera_settings.dist %}Distance: {{ player.camera_settings.dist|floatformat:0 }}<br>{% endif %}
                {% if player.camera_settings.stiff %}Stiffness: {{ player.camera_settings.stiff|floatformat:2 }}<br>{% endif %}
                {% if player.camera_settings.swiv %}Swivel Speed: {{ player.camera_settings.swiv|floatformat:2 }}<br>{% endif %}

                {% for k, v in player.camera_settings.items %}
                    {% if k == 'FOV' %}
                        Field of View: {{ v|floatformat:0 }}<br>
                    {% elif k == 'SwivelSpeed' %}
                        Swivel Speed: {{ v|floatformat:0 }}<br>
                    {% elif k != 'fov' and k != 'height' and k != 'pitch' and k != 'dist' and k != 'stiff' and k != 'swiv' %}
                        {{ k }}: {{ v }}<br>
                    {% endif %}
                {% endfor %}
                {% else %}
                Field of View: 90<br>
                Height: 100<br>
                Angle: -5<br>
                Distance: 240<br>
                Stiffness: 0<br>
                Swivel Speed: 2.50<br>
                {% endif %}">
                <em class="icon-videocam"></em>
            </span>
        </td>
        <td>
            {% if player.vehicle_loadout %}
            {% with data=player.vehicle_data %}
            <span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="
                {% if 'body' in data %}
                    Body: {{ data.body.name }}<br>
                    {% if data.wheels and data.wheels.name != 'Unknown' %}Wheels: {{ data.wheels.name }}<br>{% endif %}
                    {% if data.trail and data.trail.name != 'Unknown' %}Trail: {{ data.trail.name }}<br>{% endif %}
                    {% if data.antenna and data.antenna.name != 'Unknown' %}Antenna: {{ data.antenna.name }}<br>{% endif %}
                    {% if data.decal and data.decal.name != 'Unknown' %}Decal: {{ data.decal.name }}<br>{% endif %}
                    {% if data.topper and data.topper.name != 'Unknown' %}Topper: {{ data.topper.name }}{% endif %}
                {% else %}
                    {{ player.vehicle_data.body.name }}
                {% endif %}
            ">
                <em class="icon-cab"></em>
            </span>
            {% endwith %}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
