{% load humanize ratings static site %}

{% if team == 0 or team == 1 %}
    <h3 class="{% if team == 0 %}primary{% elif team == 1 %}secondary{% endif %}">{{ team_str }} team</h3>
{% else %}
    <p>&nbsp;</p>
{% endif %}

<table width="100%">
    <tr>
        {% if players.0.player_name %}
        <th>{# Player name #}</th>
        {% endif %}
        {# <th>Platform</th> #}
        <th>Score</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Saves</th>
        <th>Shots</th>
    </tr>
    {% for player in players %}
    <tr>
        {% if players.0.player_name %}
        <td>
            {% if player.platform == 'OnlinePlatform_Steam' or player.platform == '1' %}
            <a href="{% url 'users:steam' player.online_id %}">

            {# Try to get the latest rating for this player in this size. #}
            {% with steam_id=player.online_id %}
                {% latest_ratings as ratings %}

                {% if player.replay.team_sizes == 1 and ratings.10 and ratings.10|league_image %}
                    {% with ratings.10|string as rating_string %}
                        {% with 'img/tiers/icons/'|add:rating_string|add:'.png' as url %}
                            <img src="{% static url %}" alt="{% league_name ratings.10 %}" title="{% league_name ratings.10 %}">
                        {% endwith %}
                    {% endwith %}
                {% elif player.replay.team_sizes == 2 and ratings.11 and ratings.11|league_image %}
                    {% with ratings.11|string as rating_string %}
                        {% with 'img/tiers/icons/'|add:rating_string|add:'.png' as url %}
                            <img src="{% static url %}" alt="{% league_name ratings.11 %}" title="{% league_name ratings.11 %}">
                        {% endwith %}
                    {% endwith %}
                {% elif player.replay.team_sizes == 3 and ratings.12 and ratings.12|league_image %}
                    {% with ratings.12|string as rating_string %}
                        {% with 'img/tiers/icons/'|add:rating_string|add:'.png' as url %}
                            <img src="{% static url %}" alt="{% league_name ratings.12 %}" title="{% league_name ratings.12 %}">
                        {% endwith %}
                    {% endwith %}
                {% else %}
                    <img src="{% static 'img/tiers/icons/0.png' %}" alt="{% league_name 0 %}" title="{% league_name 0 %}">
                {% endif %}
            {% endwith %}

            {% endif %}

            {# Is this player a patron of the site? #}
            {% include 'site/patreon_crown.html' %}
            {{ player.player_name }}

            {% if player.platform == 'OnlinePlatform_Steam' or player.platform == '1' %}
            </a>
            {% endif %}
        </td>
        {% endif %}
        <td>{{ player.score|intcomma }}</td>
        <td>{{ player.goals|intcomma }}</td>
        <td>{{ player.assists|intcomma }}</td>
        <td>{{ player.saves|intcomma }}</td>
        <td>{{ player.shots|intcomma }}</td>
    </tr>
    {% endfor %}
</table>
