{% load humanize %}

{% if team == 0 or team == 1 %}
    <h3 class="{% if team == 0 %}primary{% elif team == 1 %}secondary{% endif %}">{{ team_str }} team</h3>
{% else %}
    <p>&nbsp;</p>
{% endif %}

<table width="100%">
    <tr>
        {% if players.0.player_name %}
        <th>{# Player name #}</th>
        {% endif %}
        {# <th>Platform</th> #}
        <th>Score</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Saves</th>
        <th>Shots</th>
    </tr>
    {% for player in players %}
    <tr>
        {% if players.0.player_name %}
        <td>
            {% if player.platform == 'OnlinePlatform_Steam' %}
            <a href="{% url 'users:steam' player.online_id %}">
            {% endif %}

            {{ player.player_name }}

            {% if player.platform == 'OnlinePlatform_Steam' %}
            </a>
            {% endif %}
        </td>
        {% endif %}

        {% comment %}
        <td>
            {% if player.platform == 'OnlinePlatform_Steam' %}
                PC
            {% elif player.platform == 'OnlinePlatform_Unknown' %}
                {% if player.bot %}
                    Bot
                {% else %}
                    Unknown
                {% endif %}
            {% else %}
                {{ player.platform }}
            {% endif %}
        </td>
        {% endcomment %}
        <td>{{ player.score|intcomma }}</td>
        <td>{{ player.goals|intcomma }}</td>
        <td>{{ player.assists|intcomma }}</td>
        <td>{{ player.saves|intcomma }}</td>
        <td>{{ player.shots|intcomma }}</td>
    </tr>
    {% endfor %}
</table>
