<div class="lyt-Tabs">
    <div class="lyt-Tabs_Items">
        {% url 'replay:detail' pk=object.pk as url %}
        <div class="lyt-Tabs_Item {% if request.path == url %}lyt-Tabs_Item-active{% endif %}">
            <a href="{{ url }}" class="lyt-Tabs_Action">
                Statistics
            </a>
        </div>

        {% url 'replay:playback' pk=object.pk as url %}
        <div class="lyt-Tabs_Item {% if request.path == url %}lyt-Tabs_Item-active{% endif %}">
            <a href="{{ url }}" class="lyt-Tabs_Action">
                Playback <em class="icon-crown-plus"></em>
            </a>
        </div>
    </div>
</div>
