table input[type=checkbox], table input[type=text] {
    margin-bottom: 0;
}

tr[data-href] {
    cursor: pointer;

    &:hover td {
        background-color: #efefef;
    }
}

tr.is-current-user {
    background-color: #BEB;
}
