{% extends "base.html" %}
{% load html %}

{% block content_primary %}
<div class="row">
    <div class="medium-12 columns">
        <h3>FAQs</h3>
        <p>{{ pages.current.content.standfirst }}</p>

        <hr>

        <div class="small-7 small-centered columns">
            <ul style="font-size:16px;">
                {% for faq in object_list %}
                    <li><a href="{{ faq.get_absolute_url }}">{{ faq.question }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content_primary %}
