.primary {
    color: $primary-color;
}

.secondary {
    color: $secondary-color;
}

.alert {
    color: $alert-color;
}

th {
    font-size: 16px !important;
}

.alert-box a {
    color: #fff;
    border-bottom: 1px solid #fff;
}
