.primary {
    color: $primary-color;
}

.secondary {
    color: $secondary-color;
}

.alert {
    color: $alert-color;
}

th {
    font-size: 16px !important;
}

.alert-box a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.alert-box.info {
    color: #000;

    a {
        color: #333;
        border-bottom-color: #333;
    }
}

h3 a,
h3 a:hover,
h3 a:active,
h3 a:visited {
    color: $body-font-color;
}
