{% extends "base.html" %}

{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>Log in</h3>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns">
        <p>We recommend signing in through Steam, as it's the quickest way to get going.</p>
        <a href="{% url 'social:begin' backend='steam' %}" class="text-centered">
          <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png">
        </a>

        <hr>

        <form action="" method="post">
            {% csrf_token %}

            <p>If you have a legacy account you can still log in here too, you can connect your Steam account once logged in to allow for faster logins in future.</p>

            <div class="row">
                <div class="medium-6 columns">
                    {{ form.username.label_tag }}
                    {{ form.username }}

                    {% for error in form.username.errors %}
                        <span class="field-error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="medium-6 columns">
                    {{ form.password.label_tag }}
                    {{ form.password }}

                    {% for error in form.password.errors %}
                        <span class="field-error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <input type="submit" class="button small" value="Log in">
        </form>
    </div>

    <div class="medium-6 columns">
        <h5>Benefits</h5>

        <ul>
            <li>Manage your replay collection in one place</li>
            <li>Name your replays</li>
            <li>Create replay packs</li>
            <li>Track your progress in ranked leagues</li>
            <li>Automatic replay uploading (with desktop application)</li>
        </ul>
    </div>
</div>
{% endblock %}
