{% extends "base.html" %}

{% block content_primary %}
<div class="row">
    <div class="small-12 columns">
        <h3>Create a new account</h3>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns">
        <form action="" method="post">
            {% csrf_token %}

            {{ form.username.label_tag }}
            {{ form.username }}

            {% for error in form.username.errors %}
                <span class="field-error">{{ error }}</span>
            {% endfor %}

            <div class="row double-input {% if form.password1.errors or form.password2.errors %}errored{% endif %}">
                <div class="medium-6 columns">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}

                    {% for error in form.password1.errors %}
                        <span class="field-error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="medium-6 columns">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}

                    {% for error in form.password2.errors %}
                        <span class="field-error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            {% for error in form.non_field_errors %}
                <span class="field-error">{{ error }}</span>
            {% endfor %}

            <input type="submit" class="button small" value="Create account">
        </form>
    </div>

    <div class="medium-6 columns">
        <p>It doesn't take much to register for {{ settings.SITE_NAME }}, all we need is a username and password - not even an email address!</p>

        <h5>Benefits</h5>

        <ul>
            <li>Manage your replay collection in one place</li>
            <li>Name your replays</li>
            <li>Create replay packs</li>
            <li>Track your progress in ranked leagues</li>
            <li>Automatic replay uploading (with desktop application)</li>
        </ul>
    </div>
</div>
{% endblock %}
