$primary-nav-height: 70px;

header {
  position: relative;

  margin-bottom: 12px;
  padding: 12px 0;

  img {
    width: 70px;
    height: 70px;
  }

  .logo-text {
    display: inline-block;

    line-height: 1.4;
    text-align: left;

    color: #000;

    transform: translate(10px, 16px);
  }
}

.primary-navigation {
  list-style: none;

  margin: 0;
  margin-top: 45px;

  li {
    display: inline-block;

    font-size: 16px;

    & + li {
      margin-left: 15px;
    }
  }

  a {
    font-weight: 600;
  }

  a:not(.active) {
    color: $body-font-color;
  }

  .active {
    @extend .secondary;
  }
}

.secondary-navigation {
  list-style: none;

  margin-top: 12px !important;
  padding: 10px $column-gutter / 2;

  font-size: 14px;

  border-top: 1px solid $layout-border-color;
  border-bottom: 1px solid $layout-border-color;

  a {
    margin-left: 15px;
  }
}

.rating-down, .rating-up {
  display: inline-block;

  font-size: 10px;

  transform: translateY(-1px);

  [class^='icon-']::before {
    margin-right: 0;
  }
}

.rating-down {
  color: $alert-color;
}

.rating-up {
  color: $success-color;
}
