// Social icons

@font-face {
  font-family: socicon;
  src: url('../../fonts/socicon.eot');
  src: url('../../fonts/socicon.eot?#iefix') format('embedded-opentype'), url('../../fonts/socicon.woff') format('woff'), url('../../fonts/socicon.woff2') format('woff2'), url('../../fonts/socicon.ttf') format('truetype'), url('../../fonts/socicon.svg#sociconregular') format('svg');

  font-style: normal;
  font-weight: 400;
  text-transform: initial;
}

.socicon, .social-icons a {
  font-family: socicon !important;
}

// Other icons


@font-face {
  font-family: fontello;
  src: url('../../fonts/fontello-5/fontello.eot?57585685');
  src: url('../../fonts/fontello-5/fontello.eot?57585685#iefix') format('embedded-opentype'), url('../../fonts/fontello-5/fontello.woff?57585685') format('woff'), url('../../fonts/fontello-5/fontello.ttf?57585685') format('truetype'), url('../../fonts/fontello-5/fontello.svg?57585685#fontello') format('svg');

  font-style: normal;
  font-weight: 400;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../fonts/fontello-5/fontello.svg?57585685#fontello') format('svg');
  }
}
*/

[class^='icon-']::before, [class*=' icon-']::before {
  display: inline-block;

  width: 1em;

  margin-right: 0.2em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* opacity: .8; */
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;

  text-decoration: inherit;
  text-transform: none;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-dir::before { content: '\e800'; } /* '' */
.icon-up-dir::before { content: '\e801'; } /* '' */
.icon-sort::before { content: '\e802'; } /* '' */
.icon-steam-squared::before { content: '\e803'; } /* '' */
.icon-twitch::before { content: '\e804'; } /* '' */
.icon-facebook-squared::before { content: '\e805'; } /* '' */
.icon-twitter-squared::before { content: '\e806'; } /* '' */
.icon-reddit-squared::before { content: '\e807'; } /* '' */
.icon-youtube-squared::before { content: '\e808'; } /* '' */
.icon-crown::before { content: '\e809'; } /* '' */
.icon-crown-plus::before { content: '\e80a'; } /* '' */
.icon-videocam::before { content: '\e80b'; } /* '' */
.icon-help-circled:before { content: '\e80c'; } /* '' */
.icon-cab:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e80e'; } /* '' */

.icon-crown {
  position: relative;
  top: 3px;

  display: inline-block;

  color: #ffd700;

  transform: translateY(-2px);
}

a.crowned > .icon-crown {
  position: absolute;
  top: -7px;
  left: 0;

  text-shadow: rgba(150, 150, 150, 0.9) 1px 1px 3px;

  transform: rotate(-20deg);
}

.icon-crown-plus {
  color: #ffd700;
}
