.heatmap {
    position: relative;

    width: 100%;
    margin-bottom: 30px;
}

.heatmap p {
    position: absolute;

    top: 50%;
    right: 0;
    left: 0;

    margin: 0 auto;
    text-align: center;

    transform: translateY(-50%);
}

.heatmap canvas {
  z-index: 1;
}

.heatmap::before {
    content: '';

    display: block;
    padding-bottom: calc(100% / (1003 / 709));
}

.heatmap::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url(/static/img/arena_overlay2.png);
    background-size: 100%;
    background-repeat: no-repeat;

    z-index: 2;
}

.heatmap:hover .quadrants {
    opacity: 1;
}

.thirds {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 4;

    display: flex;
    pointer-events: none;
}

.third-value, .quadrant-value {
    opacity: 0;

    position: absolute;
    text-align: center;

    color: #fff;
    text-shadow: #000 1px 1px 2px;
    font-size: 24px;

    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/static/img/arena_quadrants4.png);
    background-size: 200%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.25s ease-in-out;

    cursor: default;
}

.third-value {
    height: 33%;
    top: 33%;
    background-size: 300%;

    font-size: 16px;

    background-image: url(/static/img/arena_quadrants5.png);
    pointer-events: all;
}

.third-value:hover {
    opacity: 1;
}

.third-value::before, .third-value::after {
    content: '';
    position: absolute;
    z-index: 1;

    width: 100%;
    height: calc(100% + 2px);

    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;

    background-image: url(/static/img/arena_quadrants5.png);
    background-size: 300%;
    background-repeat: no-repeat;
}

.third-value::before {
    top: calc(-100% - 2px);
    left: 0;
}

.third-value::after {
    bottom: calc(-100% - 2px);
    left: 0;
}

.third-value.left {
    left: 0;
    right: calc(100% / 3 * 2);

    padding-left: 17px;

    background-position: center left;
}

.third-value.left::before {
    background-position: top left;
}

.third-value.left::after {
    background-position: bottom left;
}

.third-value.middle {
    left: calc(100% / 3);
    right: calc(100% / 3);

    background-position: center center;
}

.third-value.middle::before {
    background-position: top center;
}

.third-value.middle::after {
    background-position: bottom center;
}

.third-value.right {
    left: calc(100% / 3 * 2);
    right: 0;

    padding-right: 17px;

    background-position: center right;
}

.third-value.right::before {
    background-position: top right;
}

.third-value.right::after {
    background-position: bottom right;
}

.quadrants {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 3;
}

.quadrant-value {

}

.quadrant-value:hover {
    opacity: 1;
}

.quadrant-value.top-left {
    top: 0;
    right: 50%;
    bottom: 50%;
    left: 0;

    padding-left: 17px;

    background-position: top left;
}

.quadrant-value.top-right {
    top: 0;
    right: 0;
    bottom: 50%;
    left: 50%;

    padding-right: 17px;

    background-position: top right;
}

.quadrant-value.bottom-left {
    top: 50%;
    right: 50%;
    bottom: 0;
    left: 0;

    padding-left: 17px;

    background-position: bottom left;
}

.quadrant-value.bottom-right {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;

    padding-right: 17px;

    background-position: bottom right;
}
