.sim-Outer {
  position: relative;

  margin-bottom: 100px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.sim-Timer_Score {
  position: absolute;
  top: 0;

  width: 81px;
  height: 80px;

  font-size: 30px;
  line-height: 75px;
  text-align: center;

  color: #fff;

  &.sim-Timer_Score-0 {
    left: calc(50% - 96px);

    background-color: #6086e5;

    transform: translateX(-100%);
  }

  &.sim-Timer_Score-1 {
    left: calc(50% + 96px);

    background-color: #ffae7f;
  }
}

.sim-Timer {
  position: absolute;
  top: 0;
  left: 50%;

  width: 192px;
  height: 80px;

  font-size: 30px;
  line-height: 75px;
  text-align: center;

  background: url(../../img/2d-rendering/MatchTimer_Background.png);

  color: #fff;

  transform: translateX(-50%);
}

.sim-Timeline_Outer {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 80%;
  height: 6px;

  padding: 30px 0;

  cursor: pointer;

  transform: translateX(-50%);
}

.sim-Timeline_Controls {
  position: absolute;
  top: 50%;
  left: -40px;

  width: 25px;
  height: 27px;

  background-image: url(../../img/2d-rendering/Icon_Pause.png);
  background-size: 100%;

  transform: translateY(-37.5%);

  &.sim-Timeline_Controls-paused {
    background-image: url(../../img/2d-rendering/Icon_Play.png);
  }
}

.sim-Timeline {
  background-color: #0b4566;
  border-radius: 3px;

  pointer-events: none;
}

.sim-Timeline_Inner {
  width: 0%;
  height: 6px;

  background: linear-gradient(to right, #0b85d9, #95fbfc);

  pointer-events: none;

  border-radius: 3px;
}

.sim-Timeline_Cursor {
  position: absolute;
  top: 5px;

  display: none;

  width: 22px;
  height: 30px;

  pointer-events: none;

  background: url(../../img/2d-rendering/Marker_User.png);

  transform: translateX(-50%);

  .sim-Timeline_Outer:hover & {
    display: block;
  }

  .sim-Timeline_Controls:hover + .sim-Timeline & {
    display: none;
  }
}

.sim-Timeline_Marker {
  position: absolute;
  bottom: 30px;

  width: 32px;
  height: 40px;

  pointer-events: none;

  transform: translateX(calc(-50% + 2px));

  &.sim-Timeline_Marker-0 {
    background-image: url(../../img/2d-rendering/Marker_Goal_0.png);
  }

  &.sim-Timeline_Marker-1 {
    background-image: url(../../img/2d-rendering/Marker_Goal_1.png);
  }
}

.sim-Boost {
  width: 50%;
  margin-bottom: 20px;

  &.sim-Boost-team0 {
    float: left;
  }

  &.sim-Boost-team1 {
    float: right;
  }

  @media #{$large-up} {
    position: absolute;
    top: 0;
    right: 0;

    width: 150px;

    &.sim-Boost-team0 {
      right: auto;
      left: 0;
    }

    &.sim-Boost-team1 {
      text-align: right;
    }
  }
}

.sim-Boost_Outer {
  width: 100%;
}

.sim-Boost_Text {
  display: block;
}

.sim-Boost_Inner {
  width: 100%;

  margin-bottom: 15px;
  padding: 3px 5px;

  background-repeat: no-repeat;
  background-size: 34% 100%;

  color: #fff;

  transition: background-size 0.25s linear;

  &.sim-Boost_Inner-team0 {
    // 1x1 blue image
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNMaHv6HwAF5QLMRSdeSgAAAABJRU5ErkJggg==);
  }

  &.sim-Boost_Inner-team1 {
    float: right;

    text-align: right;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8v67+PwAIDQMtnSQatAAAAABJRU5ErkJggg==);
    background-position: right;
  }
}

.sim-FPS_Outer {
  margin-top: 30px;
  width: 34%;
  display: flex;
}

.sim-FPS_Label {
  width: auto;
  padding-right: 15px;
  font-weight: 600;
}

.sim-FPS_Controls {
  width: auto !important;
  flex-grow: 1;
}
